<footer class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <h5>Kayıt Koşulları</h5>
                <ul class="list-unstyled">
                    <li>18 Yaşından büyük olmanız gerekmektedir.</li>
                    <li>TC vatandaşı olmanız veya pasaportunuzun olması gerekmektedir. </li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h5>Ödeme Adımları</h5>
                <ul class="list-unstyled">
                    <li>İletişime geçerek rezarvasyon yapabilirsiniz.</li>
                    <li>Daireye geldiğinizde nakit ödeme yapabilirsiniz.</li>
                    <li>Kartla ödeme imkanımız bulunmaktadır.</li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h5>İletişim</h5>
                <ul class="list-unstyled">
                    <li>E-mail: örnek@gmail.com</li>
                    <li>Telefon: 4444 444 44 44</li>
                </ul>
            </div>
            <div class="col-6 col-md-3">
                <h5>İptal Koşulları</h5>
                <ul class="list-unstyled">
                    <li>Rezervasyon tarihinizden 12 saat öncesine kadar rezervasyonunuzu iptal edebilirsiniz.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>